version: "3.9"
services:
  pvpanalytics:
    image: pvpanalytics
    build:
      context: .
      dockerfile: PvpAnalytics.Api/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Username=pvp;Password=pvp123;Database=pvpdb
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
    depends_on:
      - db

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: pvp
      POSTGRES_PASSWORD: pvp123
      POSTGRES_DB: pvpdb
    ports:
      - "5433:5432"